@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

.changelog {
    display: block;
    /* transform: translate(-50%, -50%); */
    width: 60%;
    height: 100%;
    background-color: #080320;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 2px 2px 21px #0000009e;
}

.heading {
    color: #ffffff;
    background-color: #170631;
    font-weight: 500;
    font-family: 'Varela', sans-serif;
    text-align: center;
    width: calc(15vw + 250px);
    padding: 6px 0px;
    border-radius: 20px;
    margin-bottom: 25px;
    font-size: calc(1vw + 15px);
}
.tag{
    color: white;
    font-size: calc(.8vw + 15px);
    margin: 0px 10px;
    margin-top: 50px;
}
span{
    color: chocolate;
}


.lists {
    list-style-type: disc;
    color: #00d9ff;
    font-size: larger;
    font-size: calc(.6vw + 10px);
}
.sublist{
    color: rgb(0, 174, 255);
}
ul li{
    margin-top: 5px;
}

@media screen and (max-width: 800px) {
    .changelog{
      width: 90%;
    }
}
@media screen and (max-width: 330px){
    .heading{
        width: 80%;
    }
}

.vl {
    border-left: 4px solid rgb(0, 204, 255);
    height: calc(2.9vw + 80px);
    float: left;
    margin-left: 5px;
    margin-top: calc(.3vw + 2px);
  }
  .vl2 {
    border-left: 4px solid rgb(0, 204, 255);
    height: calc(.5vw + 15px);
    float: left;
    margin-left: 5px;
    margin-top: calc(.3vw + 2px);
  }
  .vl3 {
    border-left: 4px solid rgb(0, 204, 255);
    height: calc(2.2vw + 54px);
    float: left;
    margin-left: 5px;
    margin-top: calc(.3vw + 2px);
  }