@import 'vars.scss';

// Default stuff for all pages
* {
    outline: none;
}
body {
    background-color: $bg;
    margin: 0 auto;
    box-sizing: border-box;
}

// Dashboard

.dash-body {
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.sidebar {
    width: 7vw;
    height: 90vh;
}
.dash-content {
    width: 93vw;
    height: 89vh;
    border-radius: 28px 0px 0px 0px;
    background: $sbg;
}

// Media queries

@media screen and (max-width: 1280px) {
    .sidebar {
        width: 15vw;
    }
    .dash-content {
        width: 85vw;
    }
}
