@import 'vars.scss';

// Default stuff for all pages
* {
    outline: none;
}
body {
    background-color: $bg;
    margin: 0 auto;
    box-sizing: border-box;
}

// Dashboard

.app-body {
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.sidebar {
    width: 7vw;
    height: 90vh;
}
.sidebar-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar-flex div img {
    width: calc(10px + 1.2vw);
}
.sidebar-flex div {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2.5vh 0vh 0vh 2.5vh;
}
.mtop {
    margin-top: 5vh;
}
.side-active {
    background-color: $sbg;
    transition: all linear 0.3s;
}
.side-active img {
    filter: invert(100%);
}
.app-content {
    width: 93vw;
    height: 89vh;
    border-radius: 4vh 0px 0px 0px;
    background: $sbg;
}

// Media queries

@media screen and (max-width: 1280px) {
    .sidebar {
        width: 15vw;
    }
    .app-content {
        width: 85vw;
    }
}
