@import 'vars.scss';

.app-heading {
    color: white;
    font-family: $bold;
    font-size: 1.8rem;
    margin-top: 7.1vh;
}
.login-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.login-section {
    background: $sbg;
    height: 90vh;
    width: 100vw;
    border-radius: 2.5vw 2.5vw 0vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-section h1 {
    text-align: center;
    font-family: $bold;
    color: white;
    margin-top: 5vh;
    font-size: calc(20px + 1.4vw)
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    width: 32vw;
    height: calc(200px + 33vh);
    background: #32374B;
    border-radius: 2.5vw;
}
.login-box > form {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-box > form > p {
    align-self: flex-start;
    margin-left: 8%;
}
.login-box > form > input {
    height: 6vh;
    width: 85%;
    border-radius: 0.7vw;
    border: none;
    font-size: 18px;
    padding-left: 12px;
}
.login-box > form > button {
    width: 40%;
    margin-top: 7vh;
    height: 6vh;
    background: $main;
    font-size: 14px;
    color: white;
    font-family: $regular;
    outline: none;
    border: none;
    border-radius: 0.7vw;
    cursor: pointer;
}
.login-box > form > button:hover {
    background: $darkermain;
    transition: all 0.3s ease-in-out;
}
.login-box > form > p {
    color: white;
}
.login-footer{
    display: flex;
    width: 90%;
    margin-top: calc(20px + 1vw);
    align-items: center;
    justify-content: space-between;
}
.login-footer > p {
    color: $main;
    font-size: calc(10px + 0.4vw);
}
.login-footer > p:hover {
    color: $darkermain;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.login-message{
    color: white;
}

@media screen and (max-width: 1080px) {
    .login-box {
        width: 50vw;
    }
}
@media screen and (max-width: 680px) {
    .login-box {
        width: 80vw;
    }
}