@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

$bg: #F2F5FA;
$sbg: #222222;
$tbg: #32374B;

$regular: 'Gilroy-Regular', sans-serif;
$bold: 'Gilroy-Bold', sans-serif;
$heavy: 'Gilroy-Heavy', sans-serif;