// App
@import 'vars.scss';


.app-body {
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.sidebar {
    width: 7vw;
    height: 90vh;
}
.sidebar-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar-flex div img {
    width: calc(10px + 1.2vw);
}
.sidebar-flex div {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2.5vh 0vh 0vh 2.5vh;
}
.mtop {
    margin-top: 5vh;
}
.side-active {
    background-color: $darkbg;
    transition: all linear 0.3s;
}
.side-active img {
    filter: invert(100%);
}
.app-heading {
    color: white;
    font-family: $bold;
    font-size: calc(10px + 2vw);
    margin: 0;
    margin-top: 7.1vh;
    margin-left: 3vw;
}
.app-content {
    width: 93vw;
    height: 89vh;
    border-radius: 4vh 0px 0px 0px;
    background: $darkbg;
    background-repeat: no-repeat;
    background-size: cover;
}


//  Dashboard
.dash-overflow {
    height: max-content;
    overflow-y: scroll;
}
.dash-flex{
    display: flex;
    margin-top: 4vh;
}
.dash-flex > * {
    margin-left: 3vw;
}
.dash-items{
    z-index: 4;
    color: black;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $bold;
    font-size: calc(8px + 2vw);
}
.rank-balance-div{
    margin-left: 3vw;
    margin-top: 6vh;
    width: 35vw;
    height: 12.5vw;
    background: $bluebg;
    border-radius: 3vw;
}
.dash-gradients-div, .dash-gradients{
    width: 16vw;
}
.dash-gradients-div {
    position: relative;
}

// Logout

.logout-text {
    margin-left: 3vw;
}
.logout-button {
    width: calc(50px + 18vw);
    cursor: pointer;
    border-radius: calc(4px + 0.4vw);
    transition: 0.3s all;
    margin-left: 3vw;
    background: $bluebg;
    height: 7vh;
    font-family: $regular;
    font-size: calc(10px + 0.5vw);
    &:hover {
        background: $main;
        color: white;
    }
}

// Media queries

@media screen and (max-width: 1280px) {
    .sidebar {
        width: 15vw;
    }
    .app-content {
        width: 85vw;
    }
}
@media screen and (max-width: 780px) {
    .dash-gradients-div, .dash-gradients{
        width: 24vw;
    }
    .rank-balance-div {
        width: 78vw;
        height: 25vw;
    }
}
@media screen and (min-width: 1000px) {
    .app-heading {
        font-size: 2.2vw;
    }
}