// Default stuff for all pages
@import 'vars.scss';
@import 'app.scss';

* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    border:none;
}
body {
    background-color: $bg;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}
input{
    font-family: $regular
}
textarea{
    font-family: $regular
}

section {
    overflow: scroll;
}
