@import 'vars.scss';

.games {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 20vw;
    background: $bluebg;
    margin-left: 3vw;
    margin-top: 4vh;
    border-radius: calc(10px + 1vw);
    cursor: pointer;
    transition: .3s all;
    &:hover {
        background: $main;
        margin-top: 10px;
    }
}

.game-name {
    font-size: calc(10px + 1vw);
}

.games p {
    font-size: calc(10px + 1vw);
    margin-left: 3vw;
    color: white !important;
    text-align: center;
}