@import 'vars.scss';

.main-content {
    margin-left: 3vw;
    margin-top: calc(10px + 1vw);
}

.pfp {
    max-width: calc(100px + 5vw);
    border-radius: calc(10px + 0.3vw);
}

.left-flex-profile {
    display: flex;
}

.profile-section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-profile {
    color: white;
    width: calc(100px + 5vw);
    cursor: pointer;
    border-radius: calc(4px + 0.2vw);
    transition: 0.3s all;
    background: $bluebg;
    height: calc(20px + 3vh);
    font-family: $regular;
    font-size: calc(12px + 0.4vw);
    margin-top: 4vh;
    &:hover {
        background: $darkmain;
    }
}

.profile-section-two {
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    width: fit-content;
}

.profile-section-two p {
    margin: 0px;
}

#bio {
    font-size: calc(8px + 0.8vw);
    background: -webkit-linear-gradient(45deg, #FF94C9, #8FB4FF);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: calc(100px + 5vw);
    text-align: center;
    margin-top: 0px;
}

.username {
    margin-top: 0.3vh;
    font-size: calc(10px + 1.5vw);
    background: -webkit-linear-gradient(45deg, #FF94C9, #8FB4FF);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.params {
    display: flex;
    color: rgb(141, 141, 141);
    margin-top: 2vh !important;
    font-size: calc(9px + 0.7vw);
    width: max-content;
}

.value {
    color: #FAFAFA;
    font-size: calc(9px + 0.7vw);
    margin-left: 0.5vw !important;
}

.twitter-profile {
    color: white !important;
    text-decoration: underline !important;
}

.profile-rank-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $bluebg;
    border-radius: calc(10px + 1vw);
    width: calc(250px + 12vw);
    height: calc(70px + 5vw);
}

.profile-flex {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rank-in-card .balance-in-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

.profile-rank-card p {
    font-size: calc(10px + 1vw);
    margin-bottom: 0px;
    text-align: center;
}

.rank-profile {
    color: white;
}
.balance-profile {
    color: white;
}
.actual-in-card {
    color: $main;
    margin-top: 10%;
}

.progress-profile {
    background: white;
    margin-top: 1.4vh;
    width: 90%;
    height: 12.5%;
    border-radius: 2vw;
    overflow: hidden;
}

.slider-progress-profile {
    height: 100%;
    background: linear-gradient(90deg, #FF94C9 0%, #8FB4FF 100%);
}

.profile-down-flex {
    display: flex;
    margin-top: 4vh;
}

.profile-down-flex > .profile-rank-card {
    margin-left: 4vw;
}

.user-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-page {
    margin-top: 0px;
    margin-left: 0px;
    height: 90vh;
    width: 100vw;
    background: $darkbg;
    overflow: auto;
}

.user-profile-page {
    justify-content: center;
}

.user-page > .main-content {
    margin-top: 0px;
}

.user-page > .left-flex-profile {
    margin-top: 5vh !important;
}

.user-username {
    margin-top: 3vh !important;
}

.backButton {
    cursor: pointer !important;
    color: rgb(187, 187, 187) !important;
    transition: .3s all !important;
    &:hover {
        color: white !important;
    }
}