@import 'vars.scss';

.notification-flex p {
    font-family: $regular;
    font-size: calc(10px + 0.5vw);
}

.notification-flex {
    width: calc(100px + 40vw);
    height: 9vh;
    margin-left: 3vw;
    background: $bg;
    border-radius: calc(3px + 0.7vw);
    display: flex;
    align-items: flex-start;
    margin-top: 4vh;
    overflow: hidden;
    outline: none;
    border: none;
}

.notif-type {
    width: 30%;
    height: 100%;
    z-index: 99;
    border-radius: 0px 0px calc(18px + 1vw) 0px;
    background: $bluebg;
}

.notif-descp {
    width: 50%;
    text-align: center;
}

.notif-time{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.time-div {
    height: 50%;
    width: 100%;
    border-radius: 1vw 0px 0px 0px;
    background: $bluebg;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-div p {
    color: $main;
    text-align: center;
    font-size: calc(10px + 0.1vw);
}

.notif-type p {
    color: white;
    text-align: center;
}

.no-new-notifs {
    margin-left: 3vw;
}