@import 'vars.scss';

.notification-flex {
    display: flex;
    width: calc(100px + 40vw);
    height: 9vh;
    margin-left: 3vw;
    background: $bg;
    margin-top: 4vh;
    border-top-left-radius: calc(.8vw + 20px);
    border-bottom-left-radius: calc(.8vw + 20px);
    border-bottom-right-radius: calc(.8vw + 20px);
    border-top-right-radius: calc(.8vw + 10px);
    transition: .2s;
    cursor: default;
    &:hover{
        background-color: rgb(207, 207, 207);
    }
}

.notif-type {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bluebg;
    border-top-left-radius: calc(.8vw + 6px);
    border-bottom-left-radius: calc(.8vw + 6px);
    border-bottom-right-radius: calc(1.2vw + 25px);
}

.notif-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    overflow: auto;
}

.notif-time{
    width: 30%;
    height: 50%;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    background: $bluebg;
    border-top-left-radius: calc(.8vw + 6px);
    border-bottom-right-radius: calc(.8vw + 6px);
}


.notification-flex > div > p{
    text-align: center;
}
.notif-type p {
    color: white;
    font-size: calc(1vw + 8px);
    padding: 5px 5px;
}
.notif-desc p{
    font-size: calc(.4vw + 8px);
}
.notif-time p {
    color: $main;
    font-size: calc(.5vw + 5px)
}
.no-new-notifs {
    margin-left: 3vw;
    color: rgb(170, 170, 170);
}

@media screen and (max-width: 600px){
    .notification-flex{
        width: 80vw;
    }
}