@import 'vars.scss';

.question {
    color: $main;
    font-family: $bold;
    margin-left: 3vw;
    max-width: 70vw;
    font-size: calc(10px + 1vw);
}
.timer {
    width: 50vw;
    height: calc(20px + 1.2vh);
    margin-left: 3vw;
    background: white;
    border-radius: 100vw;
}
.slider {
    width: 100%;
    transition: all 0.3s;
    height: calc(20px + 1.2vh);
    border-radius: 100vw;
    background: linear-gradient(90deg, #FF94C9 0%, #8FB4FF 100%);
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $regular;
    height: calc(50px + 4vh);
    width: 50vw;
    border-radius: calc(5px + 0.5vw);
    background: $bluebg;
    margin-top: 5vh;
    margin-left: 3vw;
    cursor: pointer;
    transition: .2s;
    &:hover{
        background: #3f4661;
    }
}

.options p {
    font-size: calc(10px + 0.8vw);
    color: white;
    text-align: center;
}

.throttle {
    margin-left: 3vw;
    color: blue;
}
.throttle > p{
    color: rgb(224, 224, 224);
}