@import 'vars.scss';

.rules article > h1 {
    font-family: $regular;
    font-size: 52px;
}

.section > h1 {
    font-family: $regular;
    font-size: 52px;
}

.section > p {
    font-size: 25px;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}
.section > ul > li {
    font-family: $bold;
    font-size: 26px;
    padding: 9px;
}